In [1]:
#reading data from db
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Create an engine instance
#within quotes type out the servertype://user:password@serverIP/server

Engine = create_engine('postgresql://postgres:password@localhost/Mose',pool_recycle=3600)
# Connect to PostgreSQL server
dbConnection= Engine.connect()

In [3]:
# Read data from PostgreSQL database table and load into a DataFrame instance

df = pd.read_sql("select * from airbnb_listing", dbConnection)
#pd.set_option('display.expand_frame_repr', False);

# Print the DataFrame
print(df)

# Close the database connection

dbConnection.close()

             id                                             name      host_id  \
0       1010173                 Only 2 stops to Manhattan studio  62566345680
1       1010725                Perfect for Your Parents + Garden  80380130347
2       1011277                                  Chelsea Perfect  73862528370
3       1011830  Hip Historic Brownstone Apartment with Backyard  72145018858
4       1012382                Huge 2 BR Upper East  Cental Park  79805143117
...         ...                                              ...          ...
102594  6092437                       Spare room in Williamsburg  12312296767
102595  6092990                    Best Location near Columbia U  77864383453
102596  6093542                   Comfy, bright room in Brooklyn  69050334417
102597  6094094                 Big Studio-One Stop from Midtown  11160591270
102598  6094647                             585 sf Luxury Studio  68170633372

       host_identity_verified    host_name neighbourhood_group  \
0                 unconfirmed      Heather            Brooklyn
1                    verified         Ryan            Brooklyn
2                    verified      Alberta            manhatan
3                        None       Martin            Brooklyn
4                    verified       Audrey           Manhattan
...                       ...          ...                 ...
102594               verified         Krik            Brooklyn
102595            unconfirmed        Mifan           Manhattan
102596            unconfirmed        Megan            Brooklyn
102597            unconfirmed  Christopher              Queens
102598            unconfirmed      Rebecca           Manhattan

              neighbourhood       lat      long        country  ...  \
0              Williamsburg  40.70837 -73.95352  United States  ...
1               Fort Greene  40.69169 -73.97185  United States  ...
2                   Chelsea  40.74192 -73.99501  United States  ...
3             Crown Heights  40.67592 -73.94694  United States  ...
4               East Harlem  40.79685 -73.94872  United States  ...
...                     ...       ...       ...            ...  ...
102594         Williamsburg  40.70862 -73.94651  United States  ...
102595  Morningside Heights  40.80460 -73.96545  United States  ...
102596           Park Slope  40.67505 -73.98045  United States  ...
102597     Long Island City  40.74989 -73.93777  United States  ...
102598      Upper West Side  40.76807 -73.98342  United States  ...

       service_fee minimum_nights number_of_reviews last_review  \
0              NaN            2.0             148.0  2019-06-29
1              NaN            2.0             198.0  2019-06-28
2              NaN            1.0             260.0  2019-01-07
3              NaN            3.0              53.0  2019-06-22
4             56.0            7.0               0.0        None
...            ...            ...               ...         ...
102594       169.0            1.0               0.0        None
102595       167.0            1.0               1.0  2015-06-07
102596       198.0            3.0               0.0        None
102597       109.0            2.0               5.0  2015-11-10
102598       206.0            1.0               0.0        None

        reviews_per_month  review_rate_number  calculated_host_listings_count  \
0                    1.20                 3.0                             1.0
1                    1.72                 5.0                             1.0
2                    2.12                 3.0                             1.0
3                    4.44                 5.0                             1.0
4                     NaN                 3.0                             2.0
...                   ...                 ...                             ...
102594                NaN                 3.0                             1.0
102595               0.02                 2.0                             2.0
102596                NaN                 5.0                             1.0
102597               0.10                 3.0                             1.0
102598                NaN                 3.0                             1.0

        availability_365                                        house_rules  \
0                  197.0  Absolutely no smoking in the building, handlin...
1                   96.0  - Please be mindful of the neighbors, quiet ti...
2                  325.0                                               None
3                  345.0  LAUNDRY - Laundry can be done by the visitor b...
4                  347.0  No smoking, No pets.  No shoes in the house. V...
...                  ...                                                ...
102594             227.0  No Smoking No Parties or Events of any kind Pl...
102595             395.0  House rules: Guests agree to the following ter...
102596             342.0                                               None
102597             386.0                                               None
102598              69.0                                               None

       license
0         None
1         None
2         None
3         None
4         None
...        ...
102594    None
102595    None
102596    None
102597    None
102598    None

[102599 rows x 26 columns]

In [4]:
pd.DataFrame(df.groupby('neighbourhood').sum()['price'])

                     price
neighbourhood
Allerton           61089.0
Arden Heights       7244.0
Arrochar           31914.0
Arverne           145424.0
Astoria          1195635.0
...                    ...
Windsor Terrace   191329.0
Woodhaven         120429.0
Woodlawn           17027.0
Woodrow             2128.0
Woodside          369965.0

[224 rows x 1 columns]