In [9]:
import psycopg2 as pg2
import pandas as pd

In [2]:
conn=pg2.connect(database='dvdrental',user='postgres',password='password')

In [3]:
cur=conn.cursor()

In [7]:
cur.execute('SELECT * FROM payment')

In [8]:
cur.fetchone()

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [ ]:
data =pd.read_sql_table()