In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

In [2]:
Warehouse = 'postgresql'
User = 'postgres'
Password = 'password'
Server  = 'localhost'
Schema = 'dvdrental'

engine = create_engine(f'{Warehouse}://{User}:{Password}@{Server}/{Schema}',pool_recycle=3500) 
# can be modified to incorporate the drivers used in the connection for instance ?driver=ODBC+Driver+18+for+SQL+Server

try:
    engine.connect()
    print('Connection successful')
except SQLAlchemyError as e:
    print(f'Error: {e}')

Connection successful

In [4]:
db=engine.connect()
df=pd.read_sql("""
SELECT
  p.customer_id,
  CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
  SUM(p.amount) AS total_amount
FROM
  payment p
  LEFT JOIN customer c ON p.customer_id = c.customer_id
GROUP BY
  p.customer_id, customer_name
ORDER BY
  total_amount DESC;
 """, db,index_col=None)

df

     customer_id    customer_name  total_amount
0            148     Eleanor Hunt        211.55
1            526        Karl Seal        208.58
2            178    Marion Snyder        194.61
3            137   Rhonda Kennedy        191.62
4            144       Clara Shaw        189.60
..           ...              ...           ...
594          110   Tiffany Jordan         49.88
595          320   Anthony Schwab         47.85
596          248  Caroline Bowman         37.87
597          281     Leona Obrien         32.90
598          318      Brian Wyman         27.93

[599 rows x 3 columns]

In [5]:
df.to_excel(r'C:\Output\Customer_Rankings.xlsx')
# export can than be emailed and automated using available OS task schedulers