In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df = pd.read_csv(r'C:\Input\TV Series.csv')
df.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."

In [3]:
df.sort_values('Rating',ascending=False)

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
2790,His Dark Materials,(2003),****,"Adventure, Drama, Fantasy",9.7,"Terence Stamp, Kenneth Cranham, Bill Paterson,...",A young girl sets out on a quest that takes he...
8134,Roadworthy Rescues,(2022– ),****,****,9.6,"Derek Bieri, Jessica Bieri, Dan Dosemagen, Car...",Follow Derek Bieri as he seeks out abandoned c...
9173,Dallyeola Bangtan!,(2015– ),****,Game-Show,9.6,"RM, V, Jin, Jimin",Run BTS (Dallyeola Bangtan!) is a South Korean...
202,Bluey,(2018– ),7 min,"Animation, Family",9.6,"David McCormack, Melanie Zanetti, Ninthe van S...",The slice-of-life adventures of an Australian ...
16621,Breaking Bad,(2008–2013),49 min,"Crime, Drama, Thriller",9.5,"Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B...",A chemistry teacher diagnosed with inoperable ...
...,...,...,...,...,...,...,...
33809,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
44659,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
4053,Gangs of New York,NaN,****,Drama,****,NaN,Plot under wraps.
6437,Unsinkable,NaN,****,"Action, War",****,"Thomas Brodie-Sangster, John Malkovich, Nathal...",A raw young officer and a handful of desperate...
35859,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."

In [4]:
# for i in range(0, len(df)):
#     df['Released_On'][i] = str(df['Release Year'][i][1:5])
for i in range(0, len(df)):
    df.loc[i, 'Released_On'] = str(df.loc[i, 'Release Year'])[1:5]

In [5]:
df[['Release Year','Released_On']]

      Release Year Released_On
0         (2022– )        2022
1         (2018– )        2018
2      (2021–2023)        2021
3      (2022–2023)        2022
4         (2018– )        2018
...            ...         ...
49995     (1999– )        1999
49996     (2005– )        2005
49997     (2022– )        2022
49998     (2022– )        2022
49999  (2005–2020)        2005

[50000 rows x 2 columns]

In [6]:
import pandas as pd
df=pd.read_excel(r'C:\Users\hp\Desktop\Credit_Note_Exceptions.xlsx',sheet_name="Credit_Note_Without_Invoice_Ref")

TypeError: expected <class 'openpyxl.styles.fills.Fill'>