In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df = pd.read_csv(r'C:\Input\TV Series.csv')
df.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."

In [3]:
df.sort_values('Rating',ascending=False)

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
2790,His Dark Materials,(2003),****,"Adventure, Drama, Fantasy",9.7,"Terence Stamp, Kenneth Cranham, Bill Paterson,...",A young girl sets out on a quest that takes he...
8134,Roadworthy Rescues,(2022– ),****,****,9.6,"Derek Bieri, Jessica Bieri, Dan Dosemagen, Car...",Follow Derek Bieri as he seeks out abandoned c...
9173,Dallyeola Bangtan!,(2015– ),****,Game-Show,9.6,"RM, V, Jin, Jimin",Run BTS (Dallyeola Bangtan!) is a South Korean...
202,Bluey,(2018– ),7 min,"Animation, Family",9.6,"David McCormack, Melanie Zanetti, Ninthe van S...",The slice-of-life adventures of an Australian ...
16621,Breaking Bad,(2008–2013),49 min,"Crime, Drama, Thriller",9.5,"Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B...",A chemistry teacher diagnosed with inoperable ...
...,...,...,...,...,...,...,...
33809,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
44659,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
4053,Gangs of New York,NaN,****,Drama,****,NaN,Plot under wraps.
6437,Unsinkable,NaN,****,"Action, War",****,"Thomas Brodie-Sangster, John Malkovich, Nathal...",A raw young officer and a handful of desperate...
35859,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."

In [4]:
# for i in range(0, len(df)):
#     df['Released_On'][i] = str(df['Release Year'][i][1:5])
for i in range(0, len(df)):
    df.loc[i, 'Released_On'] = str(df.loc[i, 'Release Year'])[1:5]

In [5]:
df[['Release Year','Released_On']]

      Release Year Released_On
0         (2022– )        2022
1         (2018– )        2018
2      (2021–2023)        2021
3      (2022–2023)        2022
4         (2018– )        2018
...            ...         ...
49995     (1999– )        1999
49996     (2005– )        2005
49997     (2022– )        2022
49998     (2022– )        2022
49999  (2005–2020)        2005

[50000 rows x 2 columns]

In [6]:
from sklearn.datasets import load_diabetes
diabetes=load_diabetes()

In [8]:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

In [14]:
import pandas as pd
x=pd.DataFrame(diabetes['data'],columns=diabetes['feature_names'])
x.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [15]:
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
SS.fit(x,diabetes['target'])

StandardScaler()

In [20]:
Scaled_Data=SS.transform(x)

In [25]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x, diabetes['target'], test_size=0.33, random_state=42)

In [27]:
LR.fit(X_train,y_train)

LinearRegression()

In [35]:
pd.DataFrame(LR.coef_,columns=['Coefficients'],index=x.columns)

     Coefficients
age     32.145673
sex   -242.825820
bmi    559.987382
bp     407.641665
s1    -718.687039
s2     396.630109
s3      10.423048
s4     171.811776
s5     627.079764
s6     -21.624207

In [40]:
print("The interce#LR.intercept_)

The intercept is: 150.4339752023493

In [64]:
#Scaled_Data[1]
pred=np.array([1,1,0,1.4,0.2,-0.5,0.3,-0.2,1,-1.2])
LR.predict(pred.reshape(10,1))

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 10 is different from 1)

In [60]:
pd