In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [20]:
df = pd.read_csv(r'C:\Input\TV Series.csv')
df.head()

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."

In [7]:
df.sort_values('Rating',ascending=False)

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
2790,His Dark Materials,(2003),****,"Adventure, Drama, Fantasy",9.7,"Terence Stamp, Kenneth Cranham, Bill Paterson,...",A young girl sets out on a quest that takes he...
8134,Roadworthy Rescues,(2022– ),****,****,9.6,"Derek Bieri, Jessica Bieri, Dan Dosemagen, Car...",Follow Derek Bieri as he seeks out abandoned c...
9173,Dallyeola Bangtan!,(2015– ),****,Game-Show,9.6,"RM, V, Jin, Jimin",Run BTS (Dallyeola Bangtan!) is a South Korean...
202,Bluey,(2018– ),7 min,"Animation, Family",9.6,"David McCormack, Melanie Zanetti, Ninthe van S...",The slice-of-life adventures of an Australian ...
16621,Breaking Bad,(2008–2013),49 min,"Crime, Drama, Thriller",9.5,"Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B...",A chemistry teacher diagnosed with inoperable ...
...,...,...,...,...,...,...,...
33809,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
44659,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."
4053,Gangs of New York,NaN,****,Drama,****,NaN,Plot under wraps.
6437,Unsinkable,NaN,****,"Action, War",****,"Thomas Brodie-Sangster, John Malkovich, Nathal...",A raw young officer and a handful of desperate...
35859,The Last of Us,(2023– ),****,"Action, Adventure, Drama",****,"Pedro Pascal, Bella Ramsey, Gabriel Luna, Merl...","Joel and Ellie, a pair connected through the h..."

In [8]:
x=df[df['Release Year'].str.startswith('(2010')==True]
x

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
11,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
134,Blue Bloods,(2010– ),43 min,"Crime, Drama, Mystery",7.7,"Donnie Wahlberg, Bridget Moynahan, Will Estes,...",Revolves around a family of New York cops.
155,Sherlock,(2010–2017),88 min,"Crime, Drama, Mystery",9.1,"Benedict Cumberbatch, Martin Freeman, Una Stub...",A modern update finds the famous sleuth and hi...
196,Downton Abbey,(2010–2015),58 min,"Drama, Romance",8.7,"Hugh Bonneville, Phyllis Logan, Elizabeth McGo...",A chronicle of the lives of the British aristo...
227,Hawaii Five-0,(2010–2020),42 min,"Action, Crime, Drama",7.4,"Alex O'Loughlin, Scott Caan, Taylor Wily, Dani...",When Steve McGarrett returns home to Oahu to f...
...,...,...,...,...,...,...,...
49761,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
49811,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
49861,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
49911,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...
49961,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...

In [49]:
for i in range(0, len(df)):
    df['extyear'][i] = str(df['Release Year'][i])[1:5]

In [50]:
df[['Release Year','extyear']]

      Release Year extyear
0         (2022– )    2022
1         (2018– )    2018
2      (2021–2023)    2021
3      (2022–2023)    2022
4         (2018– )    2018
...            ...     ...
49995     (1999– )    1999
49996     (2005– )    2005
49997     (2022– )    2022
49998     (2022– )    2022
49999  (2005–2020)    2005

[50000 rows x 2 columns]

In [62]:
df.drop('Released_On',axis=1,inplace=True)

In [63]:
df

,Series Title,Release Year,Runtime,Genre,Rating,Cast,Synopsis
0,Wednesday,(2022– ),45 min,"Comedy, Crime, Fantasy",8.2,"Jenna Ortega, Hunter Doohan, Percy Hynes White...","Follows Wednesday Addams' years as a student, ..."
1,Yellowstone,(2018– ),60 min,"Drama, Western",8.7,"Kevin Costner, Luke Grimes, Kelly Reilly, Wes ...",A ranching family in Montana faces off against...
2,The White Lotus,(2021–2023),60 min,"Comedy, Drama",7.9,"Jennifer Coolidge, Jon Gries, F. Murray Abraha...","Set in a tropical resort, it follows the explo..."
3,1923,(2022–2023),60 min,"Drama, Western",8.6,"Harrison Ford, Helen Mirren, Brandon Sklenar, ...",The Duttons face a new set of challenges in th...
4,Jack Ryan,(2018– ),60 min,"Action, Drama, Thriller",8.0,"John Krasinski, Wendell Pierce, Michael Kelly,...","Up-and-coming CIA analyst, Jack Ryan, is thrus..."
...,...,...,...,...,...,...,...
49995,Law & Order: Special Victims Unit,(1999– ),60 min,"Crime, Drama, Mystery",8.1,"Mariska Hargitay, Christopher Meloni, Ice-T, D...","This series follows the Special Victims Unit, ..."
49996,Doctor Who,(2005– ),45 min,"Adventure, Drama, Sci-Fi",8.6,"Jodie Whittaker, Peter Capaldi, Pearl Mackie, ...",The further adventures in time and space of th...
49997,The Lord of the Rings: The Rings of Power,(2022– ),****,"Action, Adventure, Drama",6.9,"Morfydd Clark, Ismael Cruz Cordova, Charlie Vi...",Epic drama set thousands of years before the e...
49998,The Bear,(2022– ),30 min,"Comedy, Drama",8.4,"Jeremy Allen White, Ebon Moss-Bachrach, Ayo Ed...",A young chef from the fine dining world return...
49999,Supernatural,(2005–2020),44 min,"Drama, Fantasy, Horror",8.4,"Jared Padalecki, Jensen Ackles, Jim Beaver, Mi...",Two brothers follow their father's footsteps a...